.sidenav-container {
  height: 90%;
  background-color: transparent;
}
.mat-nav-list {
  .mat-list-item {
    color: white;
  }
}
.mat-drawer {
  background-color: transparent;
  color: white;
  position: fixed !important;
}
