<footer class="p-3 bg-bostonBlue-dark">
<!-- copyright-->
    <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-10 lg:space-y-0 space-y-3 items-center justify-center">
        <img class="h-10 inline-block relative top-1/2" src="img/application_logo.svg" alt="Yadoms logo">
        <p class="text-white text-center"> © 2021 Yadoms Powered by Oussama DAHMAZ</p>
        <a class="underline text-white" href="https://github.com/Yadoms/yadoms/blob/master/LICENSE.md" target="_blank" rel="noopener noreferrer">GPL V3 Licence</a>
        <div class="flex space-x-4 ">
            <a href="https://twitter.com/yadoms2607" target="_blank" rel="noopener noreferrer">
                <img class="w-10 h-10 " src="img/twitter-square-brands.svg" alt="twitter logo">
            </a>
            <a href="https://www.facebook.com/yadoms" target="_blank" rel="noopener noreferrer">
                <img class="w-10 h-10" src="img/facebook-square-brands.svg" alt="facebook logo">
            </a>
            <a href="https://www.yadoms.com/blog/" target="_blank" rel="noopener noreferrer">
                <img class="w-10 h-10" src="img/blog-solid.svg" alt="blog">
            </a>
        </div>
    </div>
</footer>