<footer class="container mx-auto p-3">
<!-- copyright-->
    <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-10 lg:space-y-0 space-y-3 items-center justify-center">
        <img class="h-10 inline-block relative top-1/2" src="static/img/application_logo.svg" alt="logo">
        <p class="text-white"> © 2021 Yadoms Powered by Oussama DAHMAZ</p>
        <a class="underline text-white" href="https://github.com/Yadoms/yadoms/blob/master/LICENSE.md">GPL V3 Licence</a>
        <div class="flex space-x-4 ">
            <a href="#">
                <img class="w-10 h-10 " src="static/img/twitter-square-brands.svg" alt="twitter">
            </a>
            <a href="#">
                <img class="w-10 h-10" src="static/img/facebook-square-brands.svg" alt="facebook">
            </a>
            <a href="#">
                <img class="w-10 h-10" src="static/img/blog-solid.svg" alt="blog">
            </a>
        </div>
    </div>
</footer>