<header class="bg-white flex flex-col sm:flex-row items-center justify-between py-3 px-8 relative container mx-auto fixed">
    <div class="flex items-end">
        <img class="h-10" src="./static/img/application_logo.svg" alt="Logo">
    </div>
    <nav class="hidden md:flex text-lg">
        <a href="#" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6">Accueil</a>
        <a href="https://github.com/Yadoms/yadoms/wiki"
           class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6" target="_blank">Documentations</a>
        <a href="#" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6"
           target="_blank">Téléchargement</a>
        <a href="https://www.yadoms.com/blog/" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6"
           target="_blank">Blog</a>
        <a href="https://yadoms.com/forum/" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6"
           target="_blank">Forum</a>
    </nav>
</header>