<header class="bg-white">
    <div class="flex flex-col sm:flex-row items-center justify-between py-3 px-8 relative fixed container mx-auto">
        <div class="flex items-end">
            <img class="h-10" src="./static/img/application_logo.svg" alt="Logo">
        </div>
        <nav class="hidden md:flex text-lg">
            <a href="#" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6 uppercase 2xl:font-bold font-bold" rel="noopener noreferrer" >Home</a>
            <a href="https://github.com/Yadoms/yadoms/wiki"
               class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6 uppercase 2xl:font-bold" target="_blank">Documentations</a>
            <a href="#" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6 uppercase 2xl:font-bold"
               target="_blank" rel="noopener noreferrer">Download</a>
            <a href="https://www.yadoms.com/blog/" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6 uppercase 2xl:font-bold"
               target="_blank" rel="noopener noreferrer">Blog</a>
            <a href="https://yadoms.com/forum/" class="text-bostonBlue-light hover:text-bostonBlue-dark py-3 px-6 uppercase 2xl:font-bold"
               target="_blank" rel="noopener noreferrer">Forum</a>
        </nav>
    </div>
</header>