<mat-card class="home-card">
  <mat-card-title>
    <img
      src="/assets/logos/yadoms.ico"
      style="width: 25px; height: 25px; margin: -3px;"
    />
    Yadoms
    <p>
      La solution domotique ultime
    </p>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content style="font-size: 13px;">
    <p>
      La solution domotique unique pour piloter tous vos équipements avec un
      seul logiciel
    </p>

    <p>
      Lassés d'avoir une application pour piloter vos stores, une autre pour les
      lumières et encore une pour le portail ?
    </p>

    <p>
      Aujourd'hui chaque fabriquant de matériel développe son produit avec ses
      interfaces propriétaires et ne cherche pas à communiquer avec d'autres
      équipements.
    </p>

    <p>
      Yadoms propose aujourd'hui une solution permettant de faire communiquer
      des équipements de marques différentes avec un seul et même logiciel.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" style="width: 100%;">
      Présentation
    </button>
  </mat-card-actions>
</mat-card>
