body {
  font-family: 'SanFrancisco', serif;
  background: #151b2b;
  color: white;
  max-width: 1080px;
  margin: auto;
  //font-size: 16px;
}


//.container {
//  padding: 0 32px;
//  //max-width: 1280px;
//  width: 100%;
//  //margin: auto;
//  z-index: 1000;
//}
//
//
//@media (max-width: 750px) {
//
//  .container {
//    padding: 0 24px;
//  }
//
//}
//
