.y-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    
    img{
        margin-right: 10px;
    }
}

.y-btn--github{
    background: #454658;
    img{
        width: 19px;
    }
    &:hover {
        background: darken(#454658, 5);
    }
    &:first-child{
        margin-right: 11px;
    }
}
.y-btn--primary{
    background: #7063fe;
    img{
        width: 19px;
    }
    &:hover {
        background: darken(#7063fe, 3);
    }
}