.y-hero__logo {
  width: 50px;
  height: 50px;
  margin-right: 0;
}

.y-hero {
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
}

.y-hero__container {
  display: flex;
  flex-direction: column;
  flex : 1 1;
  min-height: 95vh;
  position: relative;
  &__main-banner__container{
    justify-content: center;
    align-items: center;
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 360px;
      padding-left: 20px;
      padding-right: 20px;
      &__header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
        &__title{
          display: flex;
          align-items: flex-end;
        }
        img {
          width: 50px;
          height: 50px;
        }
        h1{
          font-family: hk_grotesk, serif;
          font-size: 44px;
          line-height: 45px;
          font-weight: 800;
        }

        margin-top: 20px;
        margin-bottom: 20px;

      }
      &__headline {
        text-align: left;
        font-family: hk_grotesk;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 20px;
      }

      &__summary {
        font-size: 15px;
        line-height: 150%;
        color: #9caca8;
        margin-bottom: 48px;
      }
      &__ctas{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
    }

    &__img{
      *:first-child{
        margin-left: 60px;
      }
      width: 50%;
    }
  }
}

.y-hero__companies__container {
  width: 100%;

  &__separator {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;

    &__header-line {
      height: 1px;
      flex: 1;
      background-color: #fff;
      opacity: 0.33;
    }

    &__title {
      margin-right: 5px;
      margin-left: 5px;
      flex: 0 0 auto;
      color: #a9aec3;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    padding: 5px;
  }

  &__separator > div {
    margin: 3%;
  }

  &__logos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;

    a {
      filter: grayscale(100%);
      width: 100px;
      height: 90px;

      &:hover {
        filter: none !important;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.grayscale {
  filter: grayscale(100%);
}

@media screen and (max-width: 770px) {
  .y-hero__container__main-banner__container__img{
    display: flex;
    flex-direction: column;
    *:first-child{
      margin-left: 0px;
    }
    width: 90%;
  }
}
@media screen and (max-width: 375px){
  .y-hero__container__main-banner__container__content__ctas{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px){
  .y-hero__companies__container__logos{
    a{
      flex: 1 0 30%;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 320px){
  .y-hero__container__main-banner__container__content{
    width: 320px;
  }
}