.y-privacy {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 30%;
    padding: 10px;
    margin: 5px;

    &__img {
      width: 100%;
      margin: 35px auto;
    }

    &__content {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
        font-family: hk_grotesk, serif;
        font-size: 35px;
        line-height: 56px;
        font-weight: 800;
      }

      p {
        text-align: left;
        font-size: 15px;
        line-height: 150%;
        color: #9caca8;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .y-privacy__container {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}